<% if (site.posts.length){ %>
    <h5><%= __('sidebar.archives') %></h5>
    <div class="widget">
      <%- list_archives({show_count: config.show_count, type: config.archive_type}) %>
    </div>
<% } %>